body{
  /*background-image: url(assets/thailand_intenseglow.jpg);*/
  background-size: cover;
  font-family: tahoma;
  font-family: 'Oswald', sans-serif; 
  background-color: #56A0D3;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
header{
  background-image: url(assets/thailand_intenseglow.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 25px;
}
p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-size: 17px;
  max-width: 490px;
}
.profile-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: solid;
  border-color: white;
  width: 15%;
  height: 15%;
  margin-bottom: 10px;
}
nav{
  text-align: center;
  background-color: rgba(0,0,0,.7)
}
nav>a{
  display: inline;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Oswald', sans-serif; 
}
a{
  font-size: 17px;
  display: inline; 
}

